<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
</head>
<body>
<h1>Information</h1>
<table>
    <tr>
        <td>login</td><td>{{info.get('COMPANYNAME')}}</td>
    </tr>
    <tr>
    <td>JOB NAME </td><td>{{info.get('JOBNAME')}}</td>
    </tr>
    <tr>
   <td>LINK TO JOB</td><td>{{info.get('LINKTOJOB')}}</td>
    </tr>
</table>

    <h1>USER</h1>
<table>
    <tr>
        <td>login</td><td>{{user.get('login')}}</td>
    </tr>
    <tr>
    <td>JOB NAME </td><td>{{user.get('PASS')}}</td>
    </tr>
    <tr>
   <td>RESOURCE NAME</td><td>{{user.get('NICKNAME')}}</td>
    </tr>
    <tr>
    <td>INFORMATION LINK</td><td>{{user.get('first_name')}}</td>
    </tr>
</table>

</body>
</html>